 /* :root {
      --header-height: 50px;
    } */
    html, body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      background-size: 3000px;
      background-repeat: repeat;
      background-image: url(../image/xiaomi_back.jpg);
      /* font-family: 'Zubilo'; */
    }
#gamePlace{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0);
}
@font-face {
    font-family: 'Zubilo';
    src: url(../fonts/Zubilo.otf);
}  


