 /* :root {
      --header-height: 50px;
    } */
    html, body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      background-size: 3000px;
      background-repeat: repeat;
      background-image: url(../image/xiaomi_back.jpg);
    }
#gamePlace{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0);
}

@font-face {
  font-family: 'Zubilo';
  src: url('../fonts/ZubiloBlack.woff2') format('woff2'),
       url('../fonts/ZubiloBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
